@use "variables" as *;

#root {
    min-height: 100vh;
}

html {
    font-family: "Raleway";
    position: relative;
    background: url('@assets/portfolio-bg.jpg') fixed no-repeat;
    background-size: cover;
    font-size: 17px;
    color: $pri-clr;
    margin: auto;
    min-height: 100%;
}

body {
    margin: 0px;
}

a {
    font-weight: 400;
    text-decoration: none;
    color: $pri-clr;
}

ul {
    padding: 0;
}

li {
    display: inline-block;
    list-style: none;
}

.background_section {
    background-color: $ter-clr;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 5px #0000002e;
    border-radius: $border-radius-elmt;
}
